body {
	font-family: $font-stack;
	@include reset-list;
}

a {
	text-decoration: none;
}

h1,
h2,
h3 {
	text-transform: uppercase;
	letter-spacing: 5px;
}

.icon-mode-style {
	cursor: pointer;
}
.external-img {
	height: 12px;
	width: auto;
}
#wiki-info {
	line-height: 150%;
	padding: 0px 10%;
}
.line {
	visibility: hidden;
}
.myDiv {
	a {
		display: block;
	}
}

.dropdown {
	span {
		visibility: hidden;
	}
}

.highlight-list {
	-webkit-transition: color 2s;
	transition: color 2s;
}
.filter {
	input {
		width: 55%;
		visibility: visible;
	}
	.mobile-hamburger {
		display: none;
		cursor: pointer;
	}
}
.refresh {
	cursor: pointer;
	outline: none;
}
.refresh-container {
	display: none;
}
#refresh {
	display: none;
}
hr {
	background: #D0D7D9;
	height: 1px;
	border: none;
}
.map {
	@include position-absolute;
	left: 20vw;
	height: 100vh !important;
}

.marker {
	@include position-absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	background-color: $background;
	border: 2px solid $color;
	border-radius: 100%;
	user-select: none;
	transform: translate(-50%, -50%);
}
.error-message {
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px 0px;
  border-radius: 30px;
}

#wikiInfo {
	visibility: hidden;
}
.options-box {
	height: 100vh;
	line-height: 35px;
	padding: 0px 5px;
	text-align: left;
	width: 280px;

}
.stylesday {
	background-color: $background;
	color: $color;
	a {
		color: $color;
	}
}
.stylesnight {
	background-color: $background-night;
	color: $color-night;
	a {
		color: $color-night;
	}
}

#right-side-content-box {
	display: none;
	position: absolute;
	background: $background;
	top: 10px;
	right: 10px;
	width: 40vw;
	height: 75vh;
	border-radius: 5px;
	overflow: scroll;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
	.exit {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
	}
}

#dropdown-content {
	opacity: 100;
	padding: 40px;
}