@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin position-absolute($name, $top-or-bottom, $firstValue, $left-or-right, $secondValue, $vw, $vh) {
    .#{$name} {
        position: absolute;
        #{$top-or-bottom}: $firstValue;
        #{$left-or-right}: $secondValue;
        width: $vw !important;
        height: $vh !important;
    }
}

@mixin width-height($name, $vw, $vh) {
    .#{$name} {
        width: $vw !important;
        height: $vh !important;
    }
}