$font-stack: Arial, sans-serif;

$color: #000;
$bg: #fff;
$secondary: #425774;
$box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

$gradient: linear-gradient($bg, transparentize($bg, .8));
$color-night: invert($color);
$bg-night: mix(invert($bg), $secondary);
$gradient-night: linear-gradient($bg-night, transparentize($bg-night, .8));