$font-stack: Arial, sans-serif;
$box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);

@function colorSpecs($bg-or-color: false, $day-or-night: false, $gradient: false) {

    $color: #000;
    $secondary: #425774;

    @if $bg-or-color =='bg' {
        $color: invert($color);
    }

    @if $day-or-night == 'night' {
        $color: mix(invert($color), $secondary);
    }

    @if $gradient=='gradient' {
        $color: linear-gradient($color, transparentize($color, .8));
    }

    @return $color;
}