$font-stack: Arial, sans-serif;

$color: #000;
$background: #fff;
$gradient: linear-gradient(rgba(260, 260, 260, 1.0), rgba(260, 260, 260, 0.2));

$color-night: #fff;
$background-night: #151c25;
$gradient-night: linear-gradient(rgb(85, 92, 100), rgba(21, 28, 37, 0.5));