html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.icon-mode-style,
.icon-mode-style {
  cursor: pointer;
}

.external-img {
  height: 12px;
  width: auto;
}

#wiki-info {
  font-size: 13px;
  line-height: 150%;
  padding: 0px 10%;
}

.line {
  visibility: hidden;
}

.myDiv a {
  display: block;
}

.F-box {
  margin-top: 0;
}

.dropdown span {
  visibility: hidden;
}

input {
  font-size: 12px;
}

h1,
h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h1 {
  font-size: 22px;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 16px;
  margin: 20% 20% 5% 20%;
}

ul {
  list-style-type: none;
}

.highlight-list {
  -webkit-transition: color 2s;
  /* Safari and Chrome */
  transition: color 2s;
}

.filter input {
  width: 55%;
  visibility: visible;
}

.filter .mobile-hamburger {
  display: none;
  cursor: pointer
}

.refresh {
  cursor: pointer;
  outline: none;
}

.refresh-container,
#refresh {
  display: none;
}


hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

.map {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 20vw;
    height: 100vh !important;
    width: 80vw !important;
}

.marker {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);

  &:hover {
    z-index: 1;
  }
}

.error-message {
  font-size: 12px;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px 0px;
  border-radius: 30px;
}

#wikiInfo {
  visibility: hidden;
}

.options-box {
  height: 100vh;
  line-height: 35px;
  padding: 0px 10px;
  text-align: left;
  width: 280px;
}

.options-box a {
  text-decoration: none;
}

.stylesday {
  background-color: #fff;
  color: #000;
}

.stylesnight {
  background-color: #151c25;
  color: #fff;
}

.stylesnight a {
  color: #fff;
}

.stylesday a {
  color: #000;
}

.rightSideClick {
  color: red;
  cursor: pointer;
}

#right-side-content-box {
  display: none;
  position: absolute;
  background: #fff;
  top: 10px;
  right: 10px;
  width: 40vw;
  height: 75vh;
  border-radius: 5px;
  overflow: scroll;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

#right-side-content-box .exit {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#right-side-content {
  margin: 50px 20px;
}

.text {
  font-size: 12px;
}

#dropdown-content {
  opacity: 100;
  padding: 40px;
}


@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) {

  .filter .filter-input {
    margin: 0;
    padding: 0;
  }

  .filter {
    outline: none;
  }

  .filter .mobile-hamburger {
    display: inline;
    vertical-align: text-bottom;
  }

  .dropdown span {
    visibility: visible;
  }

  #wikiInfo {
    visibility: visible;
    margin: 0 10%;
  }

  h1 {
    font-size: 22px;
    margin: 0;
    text-align: left;
    margin-left: 10px;
  }

  hr {
    background: #D0D7D9;
    height: 1px;
    margin: 0;
    border: none;
  }

  .container {
    margin-top: 0;
    height: 125%;
    position: relative;
  }

  .map {
    position: absolute;
    top: 20vh;
    left: 0;
    height: 80vh !important;
    width: 100vw !important;
  }


  .options-box {
    height: 20vh;
    width: 100vw;
    padding: 0px 0px;
    text-align: left;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content-1, .dropdown-content-2  {
    position: absolute;
    width: 1024px;
    height: 1366px;
    z-index: 2;
    padding: 10%;
    transition: opacity .5s;
  }

  .dropdown-bg-day {
    background: linear-gradient(rgba(21, 28, 37, 1.0), rgba(21, 28, 37, 0.5));
  }

  .dropdown-bg-night {
    background: linear-gradient(rgba(260, 260, 260, 1.0), rgba(260, 260, 260, 0.2));
  }  

  .dropdown-content-1 {
    opacity: 0;
  }

  .dropdown-content-2 {
    opacity: 100;
  }

  .refresh {
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .line {
    visibility: visible;
    display: block;
    padding: 0 50% 0 0;
    border-width: 1px;
  }
}

@media only screen and (max-width: 642px) and (max-height: 700px) {

  body {
    margin-top: -5%;
  }

  .options-box {
    height: 25vh !important;
  }

  .map {
    top: 25vh !important;
    height: 75vh !important;
  }

}

@media only screen and (max-width: 375px) {

  body {
    margin-top: -10%;
  }

  h1 {
    text-align: left;
  }

  h3 {
    text-align: left;
  }

  .map {
    top: 20vh !important;
    height: 80vh !important;
  }

  .options-box {
    height: 20vh !important;
  }

  #wikiInfo {
    margin-left: 15%;
    font-size: 18px;
    line-height: 150%;
    padding: none;
  }

  #dropdown-content {
    width: 375px;
    height: 700px;
  }

}

@media only screen and (max-width: 325px) {

  #wikiInfo {
    margin-left: 5%;
    font-size: 14px;
    line-height: 150%;
  }
}